#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.centuries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}
.century {
  font-size: 3em;
  border: 5px solid #35495e;
  padding: 5px;
}
.home-title {
  font-size: 4em;
}
.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img {
  height: 500px;
  width: 500px;
  background-image: no-repeat center center fixed;
  margin: 20px;
  border: solid 20px #41b883;
}